@import url(//db.onlinewebfonts.com/c/6633a78ec47bc270550144ed9f284036?family=FF+Mark);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');

$light: #f9f9f9;
$gray: #ededed;
$gray-medium: #b2b2b2;
$gray-dark: #999999;
$vine: #d13639;

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: $light;
    font-family: "FF Mark";
    user-select: none;
}

.wrapper-screen
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: minmax(400px, 400px) auto;

    .right-side
    {
        background: $light;        
        padding: 50px 55px;
        min-height: 500px;
        justify-content: space-between;
        flex-direction: column;
        display: flex;

        .header
        {
            .first
            {
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
            }

            .__logo
            {
                width: 70px;
            }
            
            .sub_title
            {
                font-size: 25px;
                margin-top: 30px;
                margin-bottom: 35px;
            }

            .pop_up
            {
                background: #b2b2b2;
                color: #fff;
                border-radius: 50%;
                width: 16px;
                transform: scale(.9);
                height: 16px;
                font-size: 14px;
                text-align: center;
                vertical-align: middle;
                display: flex;
                align-items: flex-end;
                justify-content: center;                
            }
        }

        .body
        {            
            .wrapper_inputs
            {
                .control-input
                {
                    display: flex;
                    position: relative;
                    margin-bottom: 15px;

                    input
                    {
                        width: 100%;
                        border: solid transparent 2px;
                        padding: 16px 38px 5px 8px;
                        font-family: "FF Mark";
                        background: $gray;
                        color: #000;
                        border-radius: 3px;
                        outline: none;
                        font-size: 16px;    
                        transition: all .3s ease;

                        &:hover
                        {
                            background: darken($gray, 3);
                        }

                        &:focus
                        {
                            background: $light;
                            border-color: #000;
                        }

                        &:focus~.see-pass
                        {
                            opacity: 1;
                            z-index: 1;
                        }

                        &:focus~.__label, &:valid~.__label
                        {
                            top: 12px;
                            font-size: 8px;
                            left: 10px;
                        }
                    }

                    .see-pass
                    {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 12px;
                        font-size: 20px;
                        cursor: pointer;
                        opacity: 0;
                        z-index: -1;

                        &:hover
                        {
                            opacity: 1;
                            z-index: 1;
                        }
                    }

                    .__label
                    {
                        text-transform: uppercase;
                        font-size: 10px;    
                        font-family: 'Montserrat', sans-serif;               
                        font-weight: 800;
                        color: $gray-dark;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 20px;
                        transition: all .15s ease;
                    }
                }

                .container-check
                {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 14px;
                    color: $gray-dark;
                    user-select: none;

                    .label
                    {
                        transition: .1s all ease;
                    }
                    
                    input 
                    {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;

                        &:checked~.checkmark:after 
                        {
                            display: block;
                        }

                        &:hover~.checkmark
                        {
                            background: darken($gray, 2);
                        }
                        &:checked~.checkmark 
                        {
                            background-color: $vine;
                        }

                        &:checked~.label 
                        {
                            color: #000;
                        }
                    }

                    .checkmark 
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 18px;
                        width: 18px;
                        transform: scale(.9);
                        background-color: $gray;
                        border-radius: 3px;
                        transition: .1s all ease;

                        &:after 
                        {
                            content: "";
                            position: absolute;
                            display: none;
                        }                                                    
                    }

                    .checkmark:after 
                    {
                        left: 5px;
                        top: 0px;
                        width: 5px;
                        height: 12px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg) scale(.7);
                    }                                                                         
                }
            }

            .wrapper_button
            {
                text-align: center;
                margin: 55px 0 60px 0;

                .__login
                {
                    border: solid 2px darken($gray, 1.5);
                    outline: none;
                    font-size: 25px;
                    padding: 15px 18px;
                    border-radius: 20px;
                    color: darken($gray, 1.5);
                    background: $light;
                    cursor: not-allowed;
                    user-select: none;
                    transition: .1s all ease;
                    
                    &.__checked
                    {
                        border: solid 2px $vine;
                        background: $vine;
                        cursor: pointer;
                    }

                    &.__ckecked:hover
                    {
                        background: darken($vine, 9);
                        border-color: darken($vine, 9);
                    }

                    &.__checked:active
                    {
                        background: darken($vine, 15);
                        border-color: darken($vine, 15);
                    }

                    i
                    {
                        font-weight: bold;
                    }
                }
            }
        }

        .footer
        {
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            .ex9
            {
                grid-column: 1 / 10;
            }

            .ex3
            {
                grid-column: 10 / 13;
                display: flex;
                align-items: center;
            }

            .__text
            {
                line-height: 15px;
                text-transform: uppercase;
                color: $gray-medium;
                font-family: 'Montserrat', sans-serif;               
                font-size: 10px;
                font-weight: 800;
                width: 100%;
                transition: .3s all ease;
                display: block;           
                text-decoration: none;     

                &.version
                {
                    text-align: right;

                    &:hover
                    {
                        color: darken($gray-medium, 18);
                    }
                }

                &:hover
                {
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }

    .left-side
    {        
        background-image: url('./statics/back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}